/*Specification*/
body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	color: #fff;
	font-size: 14px;
	background: #000;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: #fff;
}

a:hover {
	text-decoration: none;
}

ul, li {
	display: block;
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 14px;
}

h2 {
	font-size: 25px;
	font-weight: 500;
	letter-spacing: 0.06em;
}

section {
	width: 100%;
}

.btn:hover {
	color: #fff;
}

.title {
	width: 100%;
	margin: 20px 0;
	border-bottom: 1px solid silver;
}

.title i {
	padding: 5px 5px 0 5px;
	font-size: 20px;
	color: #ff505f;
}

.title a {
	margin-top: 2px;
}
/*Specification*/

/*Header*/
.header {
	box-shadow: 0px 1px 25px -15px silver;
}

.logo {
	padding-top: 5px;
}

.logo img {
	width: 80px;
	height: 80px;
	box-shadow: 0px 0px 15px 0px silver;
	border-radius: 50%;
	background: #fff url(../img/logo.png) left bottom no-repeat;
	background-size: 140px;
}

.nav {

}

.nav li a {
	display: block;
	padding: 35px 25px;
	letter-spacing: 0.03em;
	font-weight: 500;
}

.nav a:hover {
	border-top: 4px solid #ff505f;
	padding: 31px 25px;
	color: #ff505f;
}

.menu__btn {
	padding: 6px 10px;
	margin-top: 25px;
	border-radius: 25px;
	text-align: center;
	color: #fff;
	display: block;
	width: 160px;
	background: #00adef;
}

.menu__btn i {
	padding-right: 10px;
}
/*Header*/

/*Carousel-offer*/
.offer {
	margin-top: 8px;
}

.offer__carousel .item, 
.all-anime__carousel {
	background: url(../img/slayd2.png);
	width: 100% !important;
	margin-right: auto;
	margin-left: auto;
}

.offer__carousel .item img, 
.all-anime__carousel .item img{
	width: 90% !important;
	margin-right: auto;
	margin-left: auto;
}

.all-anime__carousel .item img {
	width: 100% !important;
}

.offer__arrow {
	margin-top: 18%;
}

.offer__arrow img {
	position: absolute;
	z-index: 2;
	cursor: pointer;
}

.offer__left-arrow {
	transform: scale(-1, -1);
}

.offer__right-arrow {
	margin-left: -50px;
}

.offer__ads img {
	width: 100%;
}
/*Carousel-offer*/

/*Search*/
.search {
	
}

.search__area {
	padding: 10px;
	background: #c0f2f9;
	width: 100%;
}

.search__area input {
	margin-top: 2px;
	width: 100%;
	padding: 7px;
	border: none;
}

.search__setting-btn {
	margin-top: 2px;
	background: #00adef;
}
/*Search*/

/*Anime-list*/

.anime__title i {
	padding-top: 2px;
	font-size: 25px;
	color: #ff505f;
	padding-right: 7px;
}

.anime__list {
	font-weight: 700;
	font-size: 16px;
	flex-wrap: wrap;
}

.anime__list__item {
	width: 160px;
	margin-bottom: 30px;
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.anime__wrapper {
	width: 100%;
	height: 250px;
	color: #fff;
	box-shadow: 0px 0px 10px -1px #f0fa09;
	cursor: pointer;
	position: relative;
}

.anime__img {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	transition: all .5s ease;
}

.anime__hidden {
	transition: all .5s ease;
	opacity: 0;
}

.anime__name {
	width: 100%;
	text-align: left;
	margin-top: 10px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.anime__viws {
	position: absolute;
	display: block;
	top: 40px;
	bottom: 100px;
	left: 30px;
	width: 100px;
	color: #fff;
	font-size: 16px;
	padding: 32px 0;
	border: 3px solid #fff;
	border-radius: 50%;
}

.anime__comment,
.anime__like {
	position: absolute;
	display: block;
	top: 170px;
}

.anime__like {
	left: 30px;
}

.anime__comment {
	right: 20px;
}

.anime__hidden {
	
}

.anime__wrapper:hover .anime__img {
	opacity: 0.6;
}

.anime__list__item:hover .anime__hidden {
	opacity: 1;
}
/*Anime-list*/

/*Donate-support*/
.support {
	color: #000;
}

.support h2 {
	font-size: 30px;
	letter-spacing: 0.05em;
}
.support__bg {
	width: 100%;
	background: #f09a09 url("../img/support.png") top center;
}

.support__project {
	margin-top: 25%;
	text-align: center;
}

.support__patrons {
	margin: 30px 0;
	text-align: center;
}

.support__patrons__list {
	margin-top: 20px;
	font-weight: 700;
	font-size: 16px;
}

.donaters {
	margin-bottom: 10px;
}

.support__patrons__donate {
	background: #000;
	display: block;
	width: 230px;
	padding: 18px;
	margin: 20px auto 10px;
	font-size: 18px;
	color: #fff;
	box-shadow: 4px 4px 0px 0px #222;
	transition: all 0.5s ease;
}

.support__patrons__donate:hover {
	box-shadow: 0px 0px 0px 0px #222;
	color: #f09a09;
}

.support__patrons__donate i {
	margin-right: 5px;
}

.support__patrons__description {
	font-size: 15px;
	width: 290px;
	margin: 0 auto;
	text-decoration: underline;
}
/*Donate-support*/

/*Footer*/
footer {
	margin-top: 100px;
	padding-top: 30px;
	box-shadow: 0px 0px 10px -2px silver;
	font-size: 14px;
	font-weight: 700;
}

footer h3 {
	font-size: 24px;
	color: #8a8a8a;
}

.footer__social {
	margin-bottom: 15px;
	border-bottom: 2px solid silver;
}

.footer__social__logo {
	margin-top: 10px;
}

.footer__social__mail {
	line-height: 0px;
}

.footer__social__media {
	width: 200px;
}

.footer__social__media li {
	font-weight: 500;
	padding-top: 4px;
	text-align: center;
	background: #ff2020;
	border-radius: 50%;
	width: 32px;
	height: 32px;
	font-size: 18px;
	box-shadow: 0px 0px 10px 0px silver;
	color: #fff;
}

.footer__social__media__item:first-child {
	background: #006dff;
}

.footer__social__media__item:nth-child(2) {
	background: #00aaff;
}

.footer__social__media__item:nth-child(3) {
	background: #ff0024;
}

.footer__social__media__item:last-child {
	background: #af0a7f;
}

.footer__social__coop {
	font-weight: 500;
	margin: 20px 0;
}
/*Footer*/

/*All-anime*/
.all-anime {

}

.all-anime__carousel {
	
}

.all-anime__carousel li {
	padding-top: 40px;
	transform: skew(0deg, 15deg);
}
/*All-anime*/

/*Video*/
.youtube__news {
	font-weight: 700;
	font-size: 16px;
	flex-wrap: wrap;
}

.youtube__news__list {
	display: block;
	position: relative;
}

.youtube__news__item {
	margin-bottom: 70px;
	cursor: pointer;
	width: 100%;
	height: 250px;
}

.video__wrapper:hover {
	opacity: 0.5;
}

.youtube__news__item:hover .video__play{
	display: block;
}

.video__play {
	position: absolute;
	height: 64px;
	width: 64px;
	margin-top: 90px;
	margin-left: 150px;
	display: none;
}

.video__title {
	width: 100%;
	margin: 10px 0;
}

.video__wrapper {
	width: 100%;
	height: 250px;
	transition: all .5s ease;
}

.name__video {
	position: absolute;
	bottom: 0;
	right: 0;
	margin-bottom: 0;
	padding: 5px 10px;
	background: #ffbd00;
}
/*Video*/

/*News*/
.comment__news {
	flex-wrap: wrap;
	width: 100%;
}

.comment__list {
	position: relative;
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	padding: 15px 0;
}

.comment__icon {
	max-width: 64px;
	height: 64px;
	border-radius: 50%;
	margin-right: 15px;
}

.comment__title {
	font-size: 16px;
}

.comment__description {
	position: absolute;
	font-size: 12px;
	color: #f09a09;
	margin-top: 10px;
	bottom: 0;
}
/*News*/

/*Top*/
.top {
	margin-top: 10px;
	width: 100%;
}

.top__list__item {
	font-size: 16px;
	margin-top: 15px;
}

.top__img {
	margin: 20px 0;
	width: 100%;
	height: 100%;
	text-align: center;
	position: relative;
}

.top__img img {
	width: 80%;
	height: 80%;
}

.top__img i {
    color: #f09a09;
    font-size: 60px;
    position: absolute;
    right: 0px;
    top: 15px;
    z-index: 10;
    transform: rotate(15deg);
    text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.top__list__number-wrapper {
	margin-right: 10px;
	position: relative;
}

.top__list__number {
	display: block;
	text-align: center;
	padding: 7px 14px;
	background: #444444;
	border-radius: 50%;
}

.top__list__title {
	padding-top: 7px;
	width: 220px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*Top*/

/*Chat*/
.chat {

}

.chat__frame {
	width: 100%;
	height: 410px;
	background: #fff;
}

.chat__massege {
	border: 2px solid #f09a09;
  	font-size: 14px;
	width: 100%;
	height: 300px;
	resize: none;
	overflow: auto;
}

.chat__option {
	margin: 5px 0;
	width: 100%;
	height: 30px;
}

.chat__option li {
	min-width: 30px;
	margin: 0 2px;
	padding: 5px 10px;
	background: #666666;

}

.chat__option__left,
.chat__option__right {
	width: 50%;
	font-weight: 700;
}

.bolt {
	font-family: bold;
}

.italic {
	font-style: italic;
}

.underline {
	text-decoration: underline;
}

.sharpline {
	text-decoration: line-through;
}

.chat__sender {
	border: 2px solid #f09a09;
}

.chat__sender__text {
	padding-left: 10px;
	width: 100%;
	height: 45px;
	border: none;
	outline: none;
}

.chat__sender__btn {
	display: block;
	margin-left: auto;
	border: none;
	background: #f09a09;
}
/*Chat*/ 

/*Telegram*/
.telegram__widget {
	margin-top: 50px;
}
/*Telegram*/